---
import { Icon } from 'astro-icon/components'
---

<div class="absolute bottom-10 w-full flex justify-center">
    <a href="#skills" class="flex items-center justify-center animate-bounce" aria-label="Scroll to Skills">
        <Icon name="arrow-down" class="w-8 h-8 text-[#5b575a]" />
    </a>
</div>