---
import { Icon } from 'astro-icon/components'
---

<div class="flex md:justify-start justify-center gap-2">
    <a href="https://github.com/montanoo" target="_blank" aria-label="GitHub Link">
        <Icon name="github" class="w-8 h-8 hover:text-[#5b575a] text-[#5b575a] transition-all duration-400" />
    </a>
    <a href="https://www.linkedin.com/in/fernandojmontano/" target="_blank" aria-label="LinkedIn Link">
        <Icon name="linkedin" class="w-8 h-8 hover:text-[#5b575a] text-[#5b575a] transition-all duration-400" />
    </a>
</div>