---
---

<header id="header" class="absolute top-0 w-full z-50 border-b border-black/5 transition-all duration-300">
    <div id="header-content" class="px-8 py-4 flex justify-between items-center gap-16 font-[Inter] text-black max-w-325 mx-auto transition-all duration-500">
        <a href="/" class={`text-[#5b575a] hover:text-black transition-all duration-500 font-bold`}>Montano<span class="text-[#A1B5D8]">.</span></a>
        <div class="hidden md:flex text-xs gap-8">
            <a href="/#skills" class={`hover:font-bold text-[#5b575a] transition-all duration-500`}>Skills</a> 
            <a href="/#work" class={`hover:font-bold text-[#5b575a] transition-all duration-500 `}>Work</a> 
            <a href="/blog" class={`hover:font-bold text-[#5b575a] transition-all duration-500`}>Blog</a> 
            <a href="/contact" class={`hover:font-bold text-[#5b575a] transition-all duration-500`}>Contact Me</a> 
        </div>
    </div>
</header>